<input type="text" [(ngModel)]="input1">
<input type="text" [(ngModel)]="input2">
<button (click)="nuova()">Nuova</button>
<br>
<br>
<button (click)="modifica()">Modifica</button>
<button (click)="annulla()">Annulla</button>
<button (click)="conferma()">Conferma</button>
<button (click)="rimuovi()">Rimuovi</button>
<br>
<br>
<input type="text" [(ngModel)]="inputRicerca">
<button (click)="cerca()">Cerca</button>
<br>
<br>
<table>
    <tr>
        <td>XXXXXXXXXXX</td>
        <td>XXXXXXXXXXX</td>
        <td><button (click)="seleziona()">Seleziona</button></td>
    </tr>
</table>